<header class="main-header">
    <h1><%= link_to 'Chris Hanson', root_path%></h1>
    <div class="main-header__nav">
      <%= link_to "Posts", blogs_path  %>
      <a href="">About</a>
      <%= link_to "Contact", root_path %>
      <%= login_helper %>
    </div>
</header>