.headshot {
  margin-right: $spacing-large;
  border: 4px dashed $color-light-10;
  background: image-url("me.jpg");
  height: 100%;
  background-size: cover;
  background-position: 50%;
  opacity: .8;
}

.skill-list {
  margin: 0;
  margin-top: $spacing-large;
  padding: 0;
  letter-spacing: 1px;
  font-size: $font-size-small;
  text-transform: uppercase;

  li {
    margin: 0;
    list-style: none;
    color: white;
    margin-bottom: $spacing-small;
  }
}

.skill-bar {
  height: 3px;
  width: 100%;
  background: $color-light-10;
  margin-top: $spacing-smallest;
}

.skill-bar__inner {
  height: 100%;
  background: $color-light-80;
  width: 0;
}

.services {
  .icon {
    font-size: 4.2rem;
  }

  .col-sm-4 {
    padding: $spacing-small;
    width: 100%;
  }

  h3 {
    margin-bottom: $spacing-smallest;
    letter-spacing: 1px;
    font-weight: 400;
  }

  p {
    margin-top: 0;
    font-size: $font-size-small;
  }
}


// Responsive
.headshot {
  @include breakpoint($break-768) {
    display: none;
  }
}