#contact {
  // For hash link
  margin-top: -66px;
  padding-top: 66px;
}

.contact {
  input, textarea {
    background: $color-secondary;
    outline: none;
    border: none;
    border-radius: 3px;
    color: white;
    padding: $spacing-smaller;
    width: 100%;
  }

  input[type='submit'] {
    width: auto;
    cursor: pointer;
  }

  textarea {
    margin-top: $spacing-smaller;
  }

  .form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: $spacing-smaller;
  }

  button {
    background: $color-secondary;
    padding: $spacing-smaller $spacing-small;
    color: white;
    outline: none;
    border: none;
    font-size: $font-size-small;
    cursor: pointer;
    transition: background $speed-fast;

    &:hover {
      background: lighten($color-secondary, 10);
    }
  }

  @include breakpoint($break-768) {
    input:not([type='submit']), textarea {
      width: 100%;
      margin-top: 0;
    }

    .form-group {
      width: 100%;
      margin-bottom: $spacing-small;
    }
  }
}