@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import "../../../../node_modules/normalize-scss/sass/normalize";
@import "../../../../node_modules/flexboxgrid/dist/flexboxgrid";
@import "../../../../node_modules/featherlight/release/featherlight.min";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  font-size: $font-size-default;
  color: $color-text;
  font-family: $font-family;
  background: $color-body-bg;
  line-height: 1.4;
}

h1,h2,h3,h4,h5,h6 {
  color: white;
}

h1 {
  font-size: $font-size-large;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: $spacing-smallest;
  line-height: 1;
  letter-spacing: 1px;
}

h2 {
  letter-spacing: 2px;
  font-size: $font-size-larger;
  margin-bottom: $spacing-large;
}

h4 {
  margin-bottom: $spacing-smaller;
}

a {
  text-decoration: none;
  color: $color-link;
  transition: color $speed-fast;

  &:hover {
    color: $color-link-hover;
  }
}

input, textarea {
  background: $color-secondary;
  outline: none;
  border: none;
  border-radius: 3px;
  color: white;
  padding: $spacing-smaller;
  width: 100%;
}

.subtitle {
  color: $color-gray;
  text-transform: uppercase;
  font-style: normal;
  font-size: $font-size-small;
  font-weight: 200;
  margin-bottom: $spacing-large;
  letter-spacing: 1.2px;
}


// Layout
.layout-container {
  max-width: $layout-max-width;
  margin: 0 auto;
}

.layout-container.-well {
  padding: $spacing-large;
}

.featherlight .featherlight-content {
  max-width: 50vw;
  color: $color-text;
  background: $color-secondary;
  box-shadow: 0 0 3px $color-dark-60;

  .featherlight-close {
    background: none;
    color: white;
  }
}

// Helpers
.-h-text-center {
  text-align: center;
}

.-h-bg-alt {
  background: $color-secondary;
}

.-h-pull-right {
  float: right;
}

.-h-muted {
  opacity: .3;
}

.-h-well {
  padding: $spacing-small;
}