<footer class="main-footer">
  <strong class="main-footer__name">Chris Hanson</strong>

  <div class="main-footer__social">
    <a href="" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="" target="_blank"><i class="fa fa-github"></i></a>
    <a href="" target="_blank"><i class="fa fa-codepen"></i></a>
    <a href="" target="_blank"><i class="fa fa-stack-overflow"></i></a>
  </div>
  <small class="main-footer__copy"><%= footer_helper %> | <%= link_to 'Privacy', privacy_path %></small>
</footer>