<footer class="main-footer">
  <strong class="main-footer__name">Chris Hanson</strong>

  <div class="main-footer__social">
    <a href="https://codepen.io/chrishanson" target="_blank"><i class="fa fa-codepen"></i></a>
    <a href="https://github.com/chris-hanson" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://stackoverflow.com/users/2609981/chris-hanson" target="_blank"><i class="fa fa-stack-overflow"></i></a>
    <a href="https://www.linkedin.com/in/chris-hanson21" target="_blank"><i class="fa fa-linkedin"></i></a>
  </div>

  <small class="main-footer__copy">
    <%= footer_helper %> | <%= link_to 'Privacy', privacy_path %>
  </small>
</footer>