<nav class="main-nav">
  <div class="main-nav__logo">
    <strong>Chris Hanson</strong>
  </div>
  <div class="main-nav__links">

    <a href data-scroll-nav="0" class="main-nav__link">Home</a>
    <a href data-scroll-nav="1" class="main-nav__link">About</a>
    <a href data-scroll-nav="2" class="main-nav__link">Portfolio</a>
    <a href data-scroll-nav="3" class="main-nav__link">Blog</a>
    <a href data-scroll-nav="4" class="main-nav__link">Contact</a>

    <%= login_helper %>
  </div>
</nav>
