<h2 class="-h-text-center">Get in Touch</h2>

<form action="">
  <div class="row">
    <div class="col-sm-4">
      <input required type="text" placeholder="enter name *">
    </div>
    <div class="col-sm-4">
      <input required type="email" placeholder="enter email *">
    </div>
    <div class="col-sm-4">
      <input required type="tel" placeholder="enter phone">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <textarea placeholder="enter message *" cols="30" rows="10"></textarea>
    </div>
  </div>

  <div class="form-actions">
    <small>
      <span class="-h-muted">Email: </span><a href="mailto:hello@chrishanson.me">hello@chrishanson.me</a><br>
      <span class="-h-muted">Skype: </span>chris.hanson.e3
    </small>

    <button type="submit">Submit</button>
  </div>
</form>