<div class="portfolio-item" data-featherlight="/portfolio/<%=portfolio_item.id%>.html .js-portfolio-modal" data-featherlight-type="ajax">
  <div class="portfolio-item__info-container">
    <header class="portfolio-item__title"><%= portfolio_item.title %></header>
    <p class="portfolio-item__subtitle"><%= portfolio_item.subtitle %></p>
  </div>
  <div class="portfolio-item__image" style="background-image:url(<%= portfolio_item.thumb_image.url %>)"></div>
</div>