<section class="hero">

</section>

<section class="layout-container -well">
  <div class="row">
    <div class="col-sm-6">
      <div class="headshot"></div>
    </div>
    <div class="col-sm-6">
      <h1>Hi. I'm Chris Hanson</h1>
      <em class="subtitle">Full-Stack Developer & Usability Expert</em>

      <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam est ipsum tenetur recusandae impedit quo quas, numquam nihil eveniet repellendus molestiae, ipsa voluptate animi beatae harum corporis inventore laboriosam sapiente.</span><span>Explicabo perferendis dolorem iure nostrum ullam sunt quis cupiditate tempora, unde dolorum enim velit quod laudantium reprehenderit. Labore mollitia sequi ipsum minus molestias. Molestias facilis perferendis ipsa sunt minima earum.</span></p>
    </div>
  </div>
</section>

<div class="-h-bg-alt services">
  <section class="layout-container -well">
    <h2 class="-h-text-center">What I Do</h2>

    <div class="row">
      <div class="col-sm-4 -h-text-center">
        <i class="icon icon-laptop"></i>
        <h3>Front-end</h3>
        <p>From simple marketing landing pages/ brochure sites to fully fledged SPAs supporting 100k+ active users per month</p>
      </div>
      <div class="col-sm-4 -h-text-center">
        <i class="icon icon-layers"></i>
        <h3>Back-end</h3>
        <p>Experienced Rails and NodeJS developer. Proficient at building RESTful APIs and working with relational &amp; NoSQL databases</p>
      </div>
      <div class="col-sm-4 -h-text-center">
        <i class="icon icon-mobile"></i>
        <h3>Fully Responsive</h3>
        <p>In this age, if your content doesn't respond well on mobile devices, <a href="http://gs.statcounter.com/platform-market-share/desktop-mobile-tablet" target="_blank">over half your audience</a> is going to have a bad time.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 -h-text-center">
        <i class="icon icon-profile-male"></i>
        <h3>User Experience</h3>
        <p>You can write the most elegant code and beautifly architect your app, but if the end user experience sucks, none of that matters.</p>
      </div>
      <div class="col-sm-4 -h-text-center">
        <i class="icon icon-browser"></i>
        <h3>X-Browser/ Accessability</h3>
        <p>I can implement WCAG standards without totally runing your design and make it work across browsers <small>(no old IE please)</small>.</p>
      </div>
      <div class="col-sm-4 -h-text-center">
        <i class="icon icon-heart"></i>
        <h3>Care</h3>
        <p>I take a great deal of pride in my work, I love solving problems and always pay attention to detail. I do it all out of &hearts; </p>
      </div>
    </div>
  </section>
</div>


<section class="layout-container -well">
  <h2 class="-h-text-center">My Past Work</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut velit recusandae quidem ducimus temporibus voluptates ea impedit delectus, quo cum, repellat itaque fugiat expedita tempora amet sequi reiciendis at doloremque.</p>
</section>

<div class="-h-bg-alt services">
  <section class="layout-container -well">
    <h2 class="-h-text-center">Featured Posts</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut velit recusandae quidem ducimus temporibus voluptates ea impedit delectus, quo cum, repellat itaque fugiat expedita tempora amet sequi reiciendis at doloremque.</p>

  </section>
</div>