@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');
@import "../../../../node_modules/normalize-scss/sass/normalize";
@import "../../../../node_modules/flexboxgrid/dist/flexboxgrid";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  font-size: $font-size-default;
  color: $color-text;
  font-family: 'Roboto', sans-serif;
  background: $color-body-bg;
  line-height: 1.4;
}

h1,h2,h3,h4,h5,h6 {
  color: white;
}

h1 {
  font-size: $font-size-large;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: $spacing-smallest;
  line-height: 1;
  letter-spacing: 1px;
}

h2 {
  letter-spacing: 2px;
  font-size: $font-size-larger;
  margin-bottom: $spacing-large;
}

a {
  text-decoration: none;
  color: $color-link;
  transition: color $speed-fast;

  &:hover {
    color: $color-link-hover;
  }
}

.subtitle {
  color: $color-gray;
  text-transform: uppercase;
  font-style: normal;
  font-size: $font-size-small;
  font-weight: 200;
  margin-bottom: $spacing-large;
  letter-spacing: 1.2px;
}

// Layout

.layout-container {
  max-width: $layout-max-width;
  margin: 0 auto;
}

.layout-container.-well {
  padding: $spacing-large;
}

// Helpers
.-h-text-center {
  text-align: center;
}

.-h-bg-alt {
  background: $color-secondary;
}