.main-nav {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: $spacing-default $spacing-large;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transition: background $speed-fast;
}

.main-nav.-fixed {
  position: fixed;
  background: rgba($color-primary, .95);
  z-index: $depth-2;
}

.main-nav__links {
  flex-direction: row;
  display: flex;
}

.main-nav__link {
  color: $color-light-70;
  font-size: $font-size-small;
  font-weight: 200;
  margin-left: $spacing-small;
  transition: color $speed-fast;
  text-decoration: none;
  letter-spacing: 1px;

  &:hover {
    color: white;
  }
}