// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "gritter";
@import 'shared/variables';
@import 'shared/responsive';

$color-primary:    white;
$color-body-bg:    #F9F9F9;
$color-text:       #888888;
$color-headers:    #565656;

$color-link:        #888;
$color-link-hover:  #F90;

@import 'shared/basics';
@import 'shared/footer';

.main-container {
  @include breakpoint($break-1024) {
    padding: 0 $spacing-large;
  }

  @include breakpoint($break-768) {
    .side-panel {
      display: none;
    }
  }
}

.main-header__nav {
  @include breakpoint($break-600) {
    h1 {
      display: none;
    }
  }
}


.main-footer {
  background: white;
  margin-top: $spacing-large;
}

.main-footer__name {
  color: $color-text;
}

.main-header {
  background: white;
  box-shadow: 0 0 10px $color-dark-30;
  position: fixed;
  bottom: calc(100% - 45px);
  width: 100%;
  z-index: $depth-2;
  transition: all .2s;

  h1 {
    font-weight: 200;
    margin: 0;
  }

  &.is-open {
    bottom: auto;
    top: 0;
  }
}

.main-header__about {
  padding: $spacing-default;
  border-bottom: 1px solid $color-dark-10;
  display: flex;
}

.main-header__avatar {
  margin-right: $spacing-default;
  height: 75px;

  @include breakpoint($break-480) {
    display: none;
  }
}

.main-header__about-info {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  width: 80%;

  p {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.main-header__contact {
  min-width: 11rem;
  margin-left: 3rem;
}

.main-header__contact-links {
  display: flex;
  margin-top: 5px;
  flex-direction: column;

  a {
    margin-top: 5px;
  }
}

.main-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $spacing-default;
}

.main-header__links {
  display: flex;
}

.main-header__links a {
  padding: $spacing-small;
  transition: all $speed-fast;

  &.is-active,
  &:hover {
    color: white;
    background: $color-link-hover;
  }
}

.panel {
  background: white;
  padding: $spacing-default;
  box-shadow: 0 0 4px $color-dark-20;
}

.side-panel {
  @extend .panel;
  margin-left: $spacing-small;

  h3 {
    margin-top: 0;
  }
}

// Forms

fieldset {
  border: none;
  padding: 0;
  margin-top: $spacing-default;
  outline: none;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-small;

  input:not([type="checkbox"]), textarea {
    outline: none;
    padding: $spacing-smaller;
    border: 1px solid $color-dark-10;
  }

  label {
    margin-bottom: $spacing-smaller/2;
  }
}

.new_user {
  min-width: 320px;

  @include breakpoint($break-600) {
    min-width: 0;
  }
}

.blog__header {
  display: flex;
  justify-content: space-between;

  @include breakpoint($break-600) {
    flex-direction: column;
  }
}

.field.-inline {
  flex-direction: row;
  align-items: center;

  label {
    margin-bottom: 0;
  }
}

.btn {
  background: none;
  border: none;
  transition: background $speed-fast;
  cursor: pointer;
  padding: $spacing-smaller $spacing-small;
}

.btn.-block {
  width: 100%;
  display: block;
}

.btn.-primary {
  background: $color-link-hover;
  color: white;

  &:hover {
    background: lighten($color-link-hover, 10);
  }
}

.btn.-default {
  background: white;
}

#error_explanation {
  color: $color-danger;

  h2 {
    font-size: $font-size-default;
    letter-spacing: initial;
    margin-bottom: 0;
    font-weight: normal;
    color: inherit;
  }
}

.field_with_errors {
  input {
    border-color: $color-danger;
  }
}

.privacy h2 {
  font-size: $font-size-large;
  letter-spacing: initial;
  margin: $spacing-small 0;
}

.layout-container {
  .pagination {
    padding: $spacing-small 0;
    margin: 0;
  }

  .pagination {
    a {
      @extend .btn;
      @extend .btn.-default;

      &:hover {
        border: 1px solid $color-dark-10;
      }
    }

    display: flex;
    justify-content: space-between;
  }

  .pagination span.disabled {
    padding: $spacing-smaller;
  }

  @include breakpoint($break-600) {
    width: 100%;
  }
}
